<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.mapper.RegisterMapper">
    <!-- User findByUname(String uname); -->
    <select id="findByUname" resultType="com.xh.entity.User">
        select * from user where uname = #{uname}
    </select>

    <!-- int insertUser(User user); -->
    <insert id="insertUser">
        insert into user(uname,upassword,rols) values (#{uname},#{upassword},#{rols})
    </insert>
</mapper>